TF_VARS_MAIN_FILE_NAME=main
TF_VARS_INGRESS_FILE_NAME=ingress
TF_VARS_FILE_DISABLED_PHRASE=disabled
DEFAULT_KUBECTL_WATCH_RESOURCES="po svc ing"
DEFAULT_ENVIRONMENT_NAME=dev

TEMPLATE_REPO_ORIGIN=repo-template
TEMPLATE_REPO_BRANCH=main
TEMPLATE_REPO_URL=https://github.com/utkusarioglu/terraform-eks-repo-template.git
TEMPLATE_LAST_COMMIT_EPOCH=1664130340 # 2022-09-25 18:25:40
