project_root_rel_path = "."
cluster_name          = "example-cluster"
cluster_region        = "us-east-0"
project_name          = "example-project"
aws_profile           = "localstack"
cluster_version       = "0.0"
mld                   = "example-mid-level-domain"
tld                   = "example-top-level-domain"
