project_root_rel_path = "."
cluster_name          = "example-cluster"
project_name          = "example-project"
aws_profile           = "example-profile"
cluster_version       = "0.0"
cluster_region        = "eu-east-9"
mld                   = "example-mid-level-domain"
tld                   = "example-top-level-domain"
aws_provider_default_tags = {
  ExampleTag = "ExampleValue"
}

localstack_endpoint   = "http://terraform-eks-localstack-repo-template-localstack:4566"
